<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Corporate Member</li>

            <li><a href="/corp_main_dashboard"><i class=" mdi mdi-view-dashboard"></i> <span class="nav-text">Dashboard</span></a></li>

            <li><a href="/corp_member_list"><i class="mdi mdi-account"></i> <span class="nav-text">Member List</span></a></li>
            
            <li><a href="/corp_list_of_all_fmda_individual_member"><i class="mdi mdi-account"></i> <span class="nav-text">Announce New Staff</span></a></li>

            <li><a href="/corp_annual_renewal_list"><i class="mdi mdi-account"></i> <span class="nav-text">Annual Renewal</span></a></li>

            <li><a href="/corp_upcoming_events"><i class="mdi mdi-widgets"></i> <span class="nav-text">Events</span></a></li>

            <li><a href="/corp_new_dealer"><i class="mdi mdi-account"></i> <span class="nav-text">Submit New Dealer</span></a></li>

            <li><a href="/corp_member_search"><i class="mdi mdi-account"></i> <span class="nav-text">Members Directory</span></a></li>

            <!-- <li><a href="/corp_member_directories"><i class="mdi mdi-book"></i> <span class="nav-text">Resource Directory</span></a></li> -->

            <li><a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-cash"></i> <span class="nav-text">Payments</span></a>
                <ul aria-expanded="false">
                    <li>
                        <a href="/corp_payment_history">Payment History</a>
                    </li>
                    <li>
                        <a href="/corp_pending_payment">Make Payments</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- #/ nk nav scroll -->
</div>