<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  <%- include('onboarding_includes/head.ejs')%>
  <!-- END: Head-->

  <!-- BEGIN: Body-->
  <body class="horizontal-layout horizontal-menu horizontal-menu-padding material-horizontal-layout material-layout 2-columns  " data-open="click" data-menu="horizontal-menu" data-col="2-columns">

    <div class="app-content container center-layout mt-2">

      <!-- BEGIN: Header -->
      <% pageInfo = 'Treasury Information'; %>
      <%- include('onboarding_includes/header.ejs')%>
      <!-- END: Header -->

      <div class="content-wrapper">
        <div class="content-body"><!-- Form wizard with number tabs section start -->


      <!-- start progress bar -->
      <div class="row">
            <div class="col-md-12">

      <div id="progressBar1" class="progressBar1">
        <div class="col-md-12 progress-bar progress-bar-info progress-bar-striped" role="progressbar"
        aria-valuenow="50" aria-valuemin="20" aria-valuemax="100" style="width:20%">
        20% Completion
        </div>
      </div>

        </div>
    </div>
      <!-- start progress bar -->



<section id="number-tabs">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-content collapse show">
                    <div class="card-body">

                          <!-- first step -->
                          <form action="/ind_professionalInformation<%= action === 'update' ? '?action=update' : '' ; %>" method="post" class="form-horizontal" enctype="multipart/form-data">
                            <fieldset id="ourFieldset2">
                                <div class="row">
                                    
                                    <div class="col-md-12" style="margin-top: 20px">
                                        <div class="form-group">
                                            <label for="phoneNumber1"> Treasury Certification (pdf) :</label>
                                            <input name="treasuryCertificate" type="file" id="treasuryCertificate" placeholder="treasury certification" required>
                                        </div>
                                        
                                        <hr>
                                        
                                    </div>

                                    
                                    <!-- to hold employment history -->
                                    <div class="row" style="margin-top: 20px; margin-left: 10px">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="phoneNumber1"> Name of Organization :</label>
                                                <input id="organisationName" type="text" class="form-control" placeholder="Name of Organization">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="phoneNumber1"> Position Held :</label>
                                                <input id="positionHeld" type="text" class="form-control" placeholder="Position Held">
                                            </div>
                                        </div>
    
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Start Date :</label>
                                                <input id="startDate" type='date' class="form-control" placeholder="Start Date" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>End Date :</label>
                                                <input id="endDate" type='date' class="form-control" placeholder="Start Date" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="phoneNumber1"> Major Responsibilities :</label>
                                                <input id="responsibilities" type="text" class="form-control"  placeholder="Major Responsibilities comma seperated">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                                <p id="addMoreEH" class="btn btn-default">add to list</p>
                                        </div>


                                        <!-- where to display the list of List Off EmploymentHistory added -->
                                        <div id="savedListOffEmploymentHistory" class="row"></div>


                                        <div class="col-md-12" style="margin-top: 50px;">
                                                <input type="submit" id="submit" class="btn btn-primary"/>
                                        </div>
                                    </div>

                                    
                                </div>

                            </fieldset>
                          </form>
                          <!-- end of first step 1-->


                     <!-- jquery & ajax link -->
                     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js "></script>

                     <!-- for the fancy sweet alert box -->
                    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


                    <!-- to check if div with id savedListOffEmploymentHistory is empty or not -->
                    <script>
                        $(document).ready(function(){
                          
                            if ($('#savedListOffEmploymentHistory').is(':empty')){
                                    $("#submit").hide()
                                }
                        });
                    </script>


                    <!-- add to list -->
                    <script>
                          $("#addMoreEH").click(function(){
                            //  alert("add more o");

                                var organisationName = $("#organisationName").val();
                                var positionHeld = $("#positionHeld").val();
                                var startDate = $("#startDate").val();
                                var endDate = $("#endDate").val();
                                var commaResponsibilities = $("#responsibilities").val();


                                if(organisationName == '' || positionHeld == '' || startDate == '' || endDate == '' || commaResponsibilities == ''){

                                    // using sweet alert tutorial at https://sweetalert.js.org/
                                    // swal(
                                    //         {
                                    //             title: "info!",
                                    //             text: "kindly fill all fields...",
                                    //             icon: "info",
                                    //         },
                                            
                                    //     );

                                    swal("kindly fill all fields!", {
                                            buttons: false,
                                            timer: 2000,  // disappears after 2 seconds
                                        });


                                      
                                  }
                                  else
                                  {

                                          // convert it to object
                                          var addAsObject = {
                                              organisationName : organisationName,
                                              positionHeld : positionHeld,
                                              startDate : startDate,
                                              endDate : endDate,
                                              commaResponsibilities : responsibilities,
                                          }

                                          //  call "/employmentHistoryList_individual" endpoint to add emplyoment history
                                          $.post("/employmentHistoryList_individual", addAsObject, function(data){
                                              // alert(data);
                                              $('#savedListOffEmploymentHistory').html(data);

                                              // empty the fields
                                              $("#organisationName").val("");
                                              $("#positionHeld").val("");
                                              $("#startDate").val("");
                                              $("#endDate").val("");
                                              $("#responsibilities").val("");

                                              // show the submit button 
                                              $("#submit").show();

                                          });


                                  }

                          });

                    </script>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Form wizard with number tabs section end -->

<!-- Form wizard with icon tabs section start -->

        </div>
      </div>
    </div>
    <!-- END: Content-->

    <%- include('onboarding_includes/scripts.ejs')%>

  </body>
  <!-- END: Body-->
</html>
