<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="FMDA dashboard, FMDA Register">
    <meta name="keywords" content="FMDA dashboard, FMDA Register">
    <meta name="author" content="fmda">
    <title>FMDA Register (Individual) </title>
    <link rel="apple-touch-icon" href="app-assets/images/ico/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="app-assets/images/ico/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/material-vendors.min.css">
    <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/forms/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/forms/icheck/custom.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="app-assets/css/material.min.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/components.min.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/material-extended.min.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/material-colors.min.css">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="app-assets/css/core/menu/menu-types/material-vertical-content-menu.min.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/pages/login-register.min.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!-- END: Custom CSS-->



    <!-- new style added -->
  <!-- <link rel="stylesheet" type="text/css" href="../new_assets/scss/login.min.css"> -->
  <link rel="stylesheet" type="text/css" href="../new_assets/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../new_assets/icons/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    

  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->
  <body class="vertical-layout vertical-content-menu material-vertical-layout material-layout 1-column  bg-full-screen-image blank-page" data-open="click" data-menu="vertical-content-menu" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-header row">
      </div>
      <div class="content-wrapper">
            <div class="content-body">
                <section class="container" style="padding: 50px; margin-top: 20px; background-color: white;">
                    <img src="app-assets/images/logo/login.png" alt="branding logo"> 
                    <h4 style="margin-top: 20px;">How to become a corporate member?</h3>
                    <hr>

                    <h5><strong>Corporate</strong></h5>

                    <ul>
                        <li>- Corporate membership is open to all corporations cutting across sectorial lines viz: Banking and Finance, Non-bank financial institutions (who are involved in the Naira, foreign exchange and or Government securities trading) as well as multinationals with minimum turn-over of N10billion.</li>
                        <li>- Here, prospective members are required to fill-out and submit Membership Application Forms with a cover application letter to the secretariat.</li>
                        <li>- Upon receipt, the application is circulated to all existing members for consent or objection as the case may be, within two weeks.</li>
                        <li>- Should there be any objection to the admission; the reasons shall be brought before the membership committee for their decision.</li>
                        <li>- Should there be no objection, the organization will be required to make some  relevant payments to confirm its admission.</li>
                        </ul>
                        <br>
                        <h6><strong>Prospective Corporate member is expected to forward with an official seal of the organization on the application letter accompanied with the following documents:</strong></h6>
                        <br>
                        <ol>
                            <li>- Certificate of Incorporation</li>
                            <li>- Memorandum and Articles of Association</li>
                            <li>- List of Bankers</li>
                            <li>- Reference letter from at least one of Bankers confirming company as its customer</li>
                            <li>- Approval from the Regulators for Trading/Investment Activities</li>
                            <li>- Corporate Brochure</li>
                            <li>- A non refundable cheque or draft of N100,000.00 only (one hundred thousand naira) being application fee in favour of Financial Markets Dealers Association</li>
                        </ol>
                    </ul>

                    <p style="float: right;">
                        <a href="/register_corperate" class="btn btn-primary">Proceed to registration</a>
                        <a href="/" class="btn btn-danger">Cancel</a>
                    </p>
                    
                </section>
            </div>
        </div>
    </div>
    <!-- END: Content-->


    <!-- BEGIN: Vendor JS-->
    <script src="app-assets/vendors/js/material-vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="app-assets/vendors/js/ui/headroom.min.js"></script>
    <script src="app-assets/vendors/js/forms/validation/jqBootstrapValidation.js"></script>
    <script src="app-assets/vendors/js/forms/icheck/icheck.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="app-assets/js/core/app-menu.min.js"></script>
    <script src="app-assets/js/core/app.min.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="app-assets/js/scripts/pages/material-app.min.js"></script>
    <script src="app-assets/js/scripts/forms/form-login-register.min.js"></script>
    <!-- END: Page JS-->

  </body>
  <!-- END: Body-->
</html>
