<!-- footer -->
<div class="footer">
  <div class="copyright">
      <p class="text-muted">
        <span class="float-md-left d-block d-md-inline-block">
          <p>Copyright  &copy; 2019 <a class="text-bold-800 grey darken-2" href="https://fmda.com.ng/"><img src="../new_assets/images/logo.png" alt=""><img class="brand-logo" alt="telnet logo" src="../new_assets/images/logo-text.png" target="_blank"></a>
          </p>
          
          <span style="float: right;">Software by <a class="text-bold-800 grey darken-2" href="http://telnetng.com/"><img class="brand-logo" alt="telnet logo" src="../app-assets/images/logo/telnet.png" target="_blank"></p> 
        </span>
      </p>
  </div>
</div>
<!-- #/ footer -->

