/* Style the form */
body {
	//background: rgba(0,0,0,0.3);
  background: #dbe3e5;
	//background: url('../../assets/images/background/Blur-Bg.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

h3 {
	text-align: left;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

#regForm {
  background-color: #ffffff;
  //border: 2px solid #212121;
  margin: 25px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  box-shadow: 0 0 1rem .15rem rgba(0,0,0,.07) !important;
}

/* Style the input fields */
input {
	background-color: #eee !important;
	border: none !important;
  border-radius: 0px !important;
  padding: 12px 15px !important;
}
textarea {
  background-color: #eee !important;
	border: none !important;
  border-radius: 0px !important;
  padding: 12px 15px !important;
}
.custom-file-label::after{
  color: white!important;
  background-color: #212121!important;
  border-left: 1px solid #212121!important;
  border-radius: 0!important;
}
.custom-file-label{
  color: #495057!important;
  background-color: #fff!important;
  border: 1px solid #212121!important;
  border-radius: 0!important;
  }
select  {
  background-color: #eee !important;
	border: none !important;
  border-radius: 0px !important;
  height: calc(2.25rem + 12px) !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(0,0,0,1) !important;
}

button {
	border-radius: 20px;
	border: 1px solid #171717;
	background-color: #212121;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor:pointer;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.tab-name{
  margin: 0 0 2.5rem 0;
  padding: 20px 30px;
  background: #212121;
  color: white
}


/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd !important;
}

.valid {
  background-color: #eee !important;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.custom-form-naviagtion{
  display: flex;
  flex: wrap;
}
.step-navigation{
  margin-top: 15px;
}
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #212121;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.15;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
