<!-- sidebar -->
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Individual Member</li>

            <li><a href="/ind_main_dashboard_for_member"><i class=" mdi mdi-view-dashboard"></i> <span class="nav-text">Dashboard</span></a></li>

            <li><a href="/ind_upcoming_events"><i class="mdi mdi-widgets"></i> <span class="nav-text">Events</span></a></li>

            <li><a href="/ind_member_search"><i class="mdi mdi-account"></i> <span class="nav-text">Members Search</span></a></li>

            <li><a href="/ind_member_directories"><i class="mdi mdi-book"></i> <span class="nav-text">Resource Directory</span></a></li>

            <li><a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-cash"></i> <span class="nav-text">Payments</span></a>
                <ul aria-expanded="false">
                    <li>
                        <a href="/ind_payment_history">Payment History</a>
                    </li>
                    <li>
                        <a href="/ind_pending_payment">Make Payments</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- #/ nk nav scroll -->
</div>
<!-- #/ sidebar -->