<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="FMDA dashboard, FMDA Register">
    <meta name="keywords" content="FMDA dashboard, FMDA Register">
    <meta name="author" content="fmda">
    <title>FMDA Register (Individual) </title>
    <link rel="apple-touch-icon" href="app-assets/images/ico/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="app-assets/images/ico/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/material-vendors.min.css">
    <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/forms/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/forms/icheck/custom.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="app-assets/css/material.min.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/components.min.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/material-extended.min.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/material-colors.min.css">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="app-assets/css/core/menu/menu-types/material-vertical-content-menu.min.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/pages/login-register.min.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!-- END: Custom CSS-->



    <!-- new style added -->
  <!-- <link rel="stylesheet" type="text/css" href="../new_assets/scss/login.min.css"> -->
  <link rel="stylesheet" type="text/css" href="../new_assets/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../new_assets/icons/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">




  <!-- for Jquery dialog popup -->
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    

  <!-- style to hide the modal title close button -->
  <!-- <style>
    .ui-dialog-titlebar-close {display: none }
</style> -->


  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->
  <body class="vertical-layout vertical-content-menu material-vertical-layout material-layout 1-column  bg-full-screen-image" data-open="click" data-menu="vertical-content-menu" data-col="1-column">

    <!-- on page load show jquery dialog -->
    <!-- <script>
        $( function() {
            $( "#dialog" ).dialog({width: "100%", height: 1000, title: "How to be a member",
                buttons: [
                            {
                            text: "proceed to registration",
                            // icon: "ui-icon-heart",
                            click: function() {
                                $( this ).dialog( "close" );
                            }
                        
                            // Uncommenting the following line would hide the text,
                            // resulting in the label being used as a tooltip
                            //showText: false
                            },
                            {
                            text: "Cancel",
                            // icon: "ui-icon-heart",
                            click: function() {
                                // $( this ).dialog( "close" );
                                window.location.href = "/";
                            }
                        
                            // Uncommenting the following line would hide the text,
                            // resulting in the label being used as a tooltip
                            //showText: false
                            }
                        ]
            });
        } );
    </script>   -->


    <!-- Jquery dialog popup -->
    <!-- <div id="dialog" title="Basic dialog" style="background-color: gray; color: white;">
        <p><strong>INDIVIDUAL MEMBERSHIP CATEGORIES</strong></p>
        <hr>
        <p>The individual membership of the Association consists of:</p>
        <ul>
        <li>- Associate Member</li>
        <li>- Member</li>
        <li>- Fellow</li>
        </ul>
        <p><strong>INDIVIDUAL MEMBERSHIP REQUIREMENTS<br />
        <hr>
        </strong></p>
        <p style="margin-top: 50px;"><em><strong> </strong></em></p>
        <ol start="2">
        <li><strong>(A) Associate Member</strong></li>
        <hr>
        </ol>
        <ul>
        <li>Treasury Staff with 1 to 5 years experience in Treasury related functions</li>
        <li>TDC/TMC/ACI Certificate or FMDA Exemption Certificate (Basic Level)</li>
        <li>Annual Membership Fee: N15,000</li>
        </ul>
        <p><em>N.B: Any person that is an Associate Member is entitled (so long as he remains an Associate Member) to use with his/her name the designatory initials <strong>“AMFM”</strong> adopted.</em></p>
        <p style="margin-top: 50px;"><em><strong> </strong></em></p>
        <ol start="2">
        <li><strong>(B) Member</strong></li>
        <hr>
        </ol>
        <ul>
        <li>Treasury Staff with above 5 to 9 years experience in Treasury related functions</li>
        <li>TDC/TMC/ACI Certificate or FMDA Exemption Certificate (Intermediate Level)</li>
        <li>Annual Membership Fee: N30,000.00</li>
        </ul>
        <p><em>N.B: Any person that is a Member is (so long as he remains a member) entitled to use with his/her name, the designatory initials <strong>“MFM”.</strong></em></p>
        <p style="margin-top: 50px;"><em><strong> </strong></em></p>
        <ol start="3">
        <li><strong>(C) Fellow</strong></li>
        <hr>
        </ol>
        <ul>
        <li>Treasury Staff with 10 years or above experience in Treasury related functions</li>
        <li>TDC/ACI , TMC Certificate or FMDA Exemption Certificate (Advance Level)</li>
        <li>Annual Membership Fee: N50,000.00</li>
        </ul>
    </div> -->


    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-header row">
      </div>
      <div class="content-wrapper">
        <div class="content-body"><section class="flexbox-container">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                <div class="card-header border-0 pb-0">
                    <div class="card-title text-center">
                        <img src="app-assets/images/logo/register.png" alt="branding logo">
                    </div>
                </div>
                <div class="card-content">


                  


                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1"><span>Register</span></p>
                    <div class="card-body">

                        <form action="/register_individual" method="post" class="form-horizontal">
                            <fieldset class="form-group position-relative">
                                <input name="firstName" type="text" class="form-control" id="firstName" placeholder="First Name" required>
                                <div class="form-control-position">
                                    <i ></i>
                                </div>
                            </fieldset>
                            <fieldset class="form-group position-relative">
                                <input  name="lastName" type="text" class="form-control" id="user-name" placeholder="Last Name" required>
                                <div class="form-control-position">
                                    <i></i>
                                </div>
                            </fieldset>
                            <fieldset class="form-group position-relative">
                                <input name="personalEmail" type="email" class="form-control" id="user-email" placeholder="Personal Email" required>
                                <div class="form-control-position">
                                    <i ></i>
                                </div>
                            </fieldset>
                            <fieldset class="form-group position-relative">
                                <input name="mobileNumber" type="phone" class="form-control" id="telephone" placeholder="Mobile Number" required>
                                <div class="form-control-position">
                                    <i></i>
                                </div>
                            </fieldset>
                            <fieldset class="form-group position-relative">
                                <input name="password" type="password" class="form-control" id="myInput" placeholder="Enter Password" required>
                                <div class="form-control-position">
                                    <i ></i>
                                </div>
                            </fieldset>
                            <fieldset class="form-group position-relative">
                                <input name="confirmpassword" type="password" class="form-control" id="myInput2" placeholder="Confirm Password" required onblur="comparePassword()">

                                <br>
                                <input type="checkbox" onclick="showPassword()"> Show Password
                                <div class="form-control-position">
                                    <i ></i>
                                </div>
                            </fieldset>
                            
                            
                            <div class="form-group position-relative">
                                    <!-- Button trigger modal -->
                                    <button type="submit" id="buttonIDToUse" class="btn btn-light block btn-lg" data-toggle="modal" data-target="#inlineForm">
                                        Register
                                    </button>

                                
                                </div>
                            </div>



                            <!-- check phone number -->
                            <script>
                                // phone number validation was requested to be removed
                                
                                // function compareNumber() {
                                //     var telephone = $("#telephone").val();
                                //     // console.log(telephone.length);
                                //     console.log(typeof telephone);
                                //     console.log(parseInt(telephone.length));
                                //     console.log(typeof parseInt(telephone))
    
                                //     if ( parseInt(telephone.length) > 11){
                                //         alert("Phone number must not be greater than 11 digits");
                                //         $("#telephone").val("");
                                //     }
                                //     else if ( parseInt(telephone.length) < 11) {
                                //         alert("Phone number must not be less than 11 digits");
                                //         $("#telephone").val("");
                                //     }
                                // }
                            </script>


                            <!-- to show password -->
                            <script>
                                function showPassword() {
                                    var x = document.getElementById("myInput");
                                    var y = document.getElementById("myInput2");

                                    if (x.type === "password" && y.type === "password") {
                                        x.type = "text";
                                        y.type = "text";
                                    } else {
                                        x.type = "password";
                                        y.type = "password";
                                    }
                                }
                            </script>


                            <!-- compare password and confirm password supplied -->
                            <script>
                                function comparePassword() {
                                    // get the value the first password
                                    var myInput = $("#myInput").val();
                                        // console.log(myInput);

                                        // get the value the 2nd password
                                        var myInput2 = $("#myInput2").val();
                                        // console.log(myInput2);

                                        if (myInput != "" && myInput2 != "") {
                                            // alert("values gotten");

                                            // compare both
                                            if (myInput !== myInput2) {
                                                alert("Your password and confirmation password do not match.");
                                                $("#myInput").val('');
                                                $("#myInput2").val('');
                                                // console.log("Your password and confirmation password do not match.");

                                                // hide the submit button
                                                // $("#buttonIDToUse").hide();
                                            }
                                            else{
                                                // alert("password matched");

                                                // show the submit button
                                                // $("#buttonIDToUse").show();
                                            }


                                        }
                                }
                            </script>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        </div>
      </div>
    </div>
    <!-- END: Content-->


    <!-- BEGIN: Vendor JS-->
    <!-- <script src="app-assets/vendors/js/material-vendors.min.js"></script> -->
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <!-- <script src="app-assets/vendors/js/ui/headroom.min.js"></script> -->
    <!-- <script src="app-assets/vendors/js/forms/validation/jqBootstrapValidation.js"></script> -->
    <!-- <script src="app-assets/vendors/js/forms/icheck/icheck.min.js"></script> -->
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <!-- <script src="app-assets/js/core/app-menu.min.js"></script> -->
    <!-- <script src="app-assets/js/core/app.min.js"></script> -->
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <!-- <script src="app-assets/js/scripts/pages/material-app.min.js"></script> -->
    <!-- <script src="app-assets/js/scripts/forms/form-login-register.min.js"></script> -->
    <!-- END: Page JS-->

  </body>
  <!-- END: Body-->
</html>
