<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Individual Member Registration">
  <meta name="author" content="Softworks">

  <link rel="stylesheet" type="text/css" href="new_assets/scss/register.min.css">
  <link rel="stylesheet" type="text/css" href="new_assets/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="new_assets/icons/font-awesome/css/font-awesome.min.css">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">

  <title>FMDA- Individual Member Registration</title>

</head>

<body>

  <h3>Indiviual Membership Registration Form</h3>


  <!--content here-->




  
  <script src="new_assets/js/register-form.js"></script>

</body>

</html>
