<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Financial Market Dealers Association.</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../img/fmdalogo.png">
    <link href="../../new_assets/css/style.css" rel="stylesheet">
    <script src="../../new_assets/js/modernizr-3.6.0.min.js"></script>
  </head>